header{
    background: url(../img/header-fon.jpg);
      background-position: center top;
     background-repeat:no-repeat ;
      height: 753px;
      min-width: 1440px;
      margin:-15px;
}
header img{
    margin-top:30px;
    height:106px;
   
}
.title{
    display: inline-block;
    margin-top:50px;
    background:rgba(152, 74, 53, 0.5);
    font-size:50px;
    color:black;
    text-decoration: none;
}
.title:hover{
    color:black;
}
.proect{
    color:#4e3413;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 30px;
    font-size:20px;
}
.test{
    text-decoration: none;
    font-weight: 700;
    color:#4e3413;
    padding: 10px 20%;
    background:rgba(152, 74, 53, 0.5);
    margin-left:10%;
    font-size:25px;

}
.test:hover{
    background:#4e3413;
    color:rgba(152, 74, 53, 0.5);
}
.name-1,.name-2,.name-3{
    display: inline-block;
    padding-left:10px;
    padding-right:10px;
    margin-left:10px;
    width:200%;
}
.proect:hover{
    color:#4e3413;
}
.name{
    margin-top : 50px;
    background: rgba(231, 203, 165, 0.52);
    margin-bottom: 50px;
    padding-bottom: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    }
.name-1{
    margin-top: 30px;
}
.name-2{
    margin-top: 60px;
}
.name-3{
    margin-top: 90px;
}
.name-4{
    margin-top: 120px;
}
.name-5{
    margin-top: 150px;
}
.name-6{
    margin-top: 180px;
}
.imp-1{
    background:rgba(251, 234, 217, 0.7);
    margin-top: 40px;
    
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 50px;
}
.back{
    padding-left:10%;
    padding-right: 10%;
    background:rgba(152, 74, 53, 0.5);
}
h3{
    text-decoration:none;
   
    margin-top:20px ;
    margin-bottom: 40px;
    clear:both;
}

.text{
    clear:both;
}
br{
    margin-top: 20px;
}