body{
    width:1440px;
    margin: 0px auto;
    background-color:burlywood;
}
h1{
    text-align: center;
}
form{
    width:1440px;
    margin :0px auto;
}
input[type='radio']{
   
    width:100;
}
.testTrue{
    background:greenyellow;
}
.testFalse{
    background:red;
}
.finishScreen{
    font-size:69px;
    text-align: center;
    color:cornsilk;
    border-width:5px, solid, black;
    
}
.resetButton1{
    background:blue;
    color:red;
}